amqp
asgiref
async-timeout
attrs
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
crispy-bootstrap4
cron-descriptor
cryptography
Deprecated
dj-database-url
Django
django-admin-honeypot
django-anymail
django-appconf
django-celery
django-celery-beat
django-celery-results
django-cors-headers
django-crispy-forms
django-environ
django-heroku
django-hijack
django-ipware
django-oauth-toolkit
django-redis
django-rest-allauth
django-rest-swagger
django-timezone-field
django-waffle
djangorestframework
djangorestframework-recaptcha
djangorestframework-simplejwt
dnspython
drf-stripe
drf-yasg
eventlet
exceptiongroup
greenlet
gunicorn
idna
inflection
iniconfig
itypes
Jinja2
jsonfield
jsonschema
jsonschema-specifications
jwcrypto
kombu
MarkupSafe
mysqlclient
oauthlib
openapi-codec
packaging
Pillow
pluggy
prompt-toolkit
psycopg2
psycopg2-binary
pycparser
PyJWT
pymongo
pyparsing
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
python-snappy
pytz
PyYAML
redis
referencing
requests
rpds-py
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
stripe
tomli
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
whitenoise
winkerberos
wrapt