<section class="home" id="home">
  <div class="home-text container">
    <h2 class="home-title">The Blog Website</h2>
    <span class="home-subtitle">Your Source for great content</span>
  </div>
</section>
{% extends './main.html' %}
{% block content %}
<section class="post container">
  {% for post in post %}
  <div class="post-box">
    <img src="{{ post.image.url }}" alt="image" class="post-img">
    <h2><a href="{% url 'post-detail' post.id %}" class="post-title">{{post.topic}}</a></h2>
    <span class="post-date"> {{ post.date_of_post|date:"F d, Y" }}</span>
    <p class="post-description">{{ post.content }}</p>
    <div class="profile">
      <img src="{{ post.author.profile.image.url }}" class="profile-img" />
      <span><a href="{% url 'profile' %}" class="profile-name">{{ post.author }}</a></span>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock content %}